@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100dvh;
  background: rgba(50, 50, 50, 0.4);
}

/* Webkit Browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background-color: #ababab;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ababab;
}
/* Optional: Remove arrows */
::-webkit-scrollbar-button {
  display: none;
}

