

body {
    height: 100dvh;
    overflow: hidden;
}

.dot-bg {
    background: radial-gradient(circle, #86EFAC 10%, transparent 11%),radial-gradient(circle at bottom left, #86EFAC 5%, transparent 6%),radial-gradient(circle at bottom right, #86EFAC 5%, transparent 6%),radial-gradient(circle at top left, #86EFAC 5%, transparent 6%),radial-gradient(circle at top right, #86EFAC 5%, transparent 6%);
    background-size: 1em 1em;
    background-color: #ffffff;
    opacity: 1
}

.main {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}